node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

.env
.env.local
app/.env
tests/.env
tests/cypress.env.json

coverage/
dist/
tmp/
.DS_Store

tests/cypress/screenshots/
tests/cypress/videos/
tests/reports/*
!tests/reports/.gitkeep

docs/images/*
!docs/images/.gitkeep

mysql_data/
database/data/
*.db
*.sqlite
*.sqlite3
*.log
docker-compose.override.yml
