CYPRESS_BASE_URL=http://localhost:3000
CYPRESS_API_URL=http://localhost:3000/api
CYPRESS_USER_EMAIL=hermesson.yuri.qa@example.com
CYPRESS_USER_PASSWORD=Password123!
CYPRESS_DESTINATION_ACCOUNT=260000000222
